@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ var lang = Umbraco.ContentAtRoot();}
@{
	Layout = null;
}

@* the fun starts here *@

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@Umbraco.Field("pageTitle")</title>
    <link rel="icon" href="../../../../favicon.ico">

    <title>Generiskt IT Företag</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css?v=1.0">
    <link rel="stylesheet" href="/css/styles.css?v=1.0">
  </head>

  <body>
      
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">NySida</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">

              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="/">Start</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" href="/about-us">Om oss</a>
                  </li>
                  
                  <li class="nav-item">
                      <a class="nav-link" href="/services">Tjänster</a>
                  </li>
                  
                  <li class="nav-item">
                      <a class="nav-link" href="/contact">Kontakta oss</a>
                  </li>
                @foreach(var lange in Umbraco.ContentAtRoot())
                {
                    <a class="nav-link" href="@lange.Url">@lange.Name</a>
                }
              </ul>

          <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
      </div>
    </nav>
    
      

    
    
    <main role="main">
        @RenderBody()
    </main>
      
    <footer class="container">
      <p>&copy; Company 2017-2018</p>
    </footer>
    
    <script src="Scripts/jquery-3.3.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/Scripts.js"></script>
  </body>
</html>
