<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT index ANY>
<!ATTLIST index id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT services ANY>
<!ATTLIST services id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT service ANY>
<!ATTLIST service id ID #REQUIRED>
]>
<root id="-1">
  <index id="1063" key="745f3c88-15a6-4f35-8d9d-58e172a929fa" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-10-16T09:02:37" updateDate="2018-10-16T11:27:47" nodeName="sv" urlName="sv" path="-1,1063" isDoc="" nodeType="1061" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1060" nodeTypeAlias="index" isPublished="true">
    <pageContent><![CDATA[<p>Detta är min sida, yay!</p>]]></pageContent>
    <pageTitle><![CDATA[Generiskt IT Företag Page Title]]></pageTitle>
    <heroText><![CDATA[Hero texten på startsida]]></heroText>
    <services id="1075" key="e2a62134-6960-4320-a38d-2d57853624cd" parentID="1063" level="2" creatorID="0" sortOrder="1" createDate="2018-10-16T13:15:31" updateDate="2018-10-16T14:59:04" nodeName="Services" urlName="services" path="-1,1063,1075" isDoc="" nodeType="1071" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1070" nodeTypeAlias="services" isPublished="true">
      <pageContent><![CDATA[<p>Vi har tre olika tjänster</p>]]></pageContent>
      <pageTitle><![CDATA[Tjänster]]></pageTitle>
      <pageContent1><![CDATA[<p>test</p>]]></pageContent1>
      <content1Title><![CDATA[TestTe]]></content1Title>
      <columns><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></columns>
      <service id="1081" key="866ea6f8-0e0b-47e1-874c-952176e50f52" parentID="1075" level="3" creatorID="0" sortOrder="0" createDate="2018-10-16T13:35:07" updateDate="2018-10-16T15:04:53" nodeName="Systemdeveloping" urlName="systemdeveloping" path="-1,1063,1075,1081" isDoc="" nodeType="1080" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1079" nodeTypeAlias="service" isPublished="false">
        <pageContent><![CDATA[<p>Smarta IT-lösningar förenklar processer och flöden, vilket i sin tur skapar effektivitet och lönsamhet.</p>
<p>Tillsammans med er skapar vi en skräddarsydd kundlösning som integrerar era system för att få fram relevant information som underlättar beslutsfattande.</p>
<p>På så sätt minimeras tidsödande processer och ni får ett snabbt och smidigt informationsflöde.</p>]]></pageContent>
        <pageTitle><![CDATA[Systemutveckling]]></pageTitle>
      </service>
      <service id="1082" key="09e5c739-2b68-47c4-a09c-e1595886e9c4" parentID="1075" level="3" creatorID="0" sortOrder="1" createDate="2018-10-16T13:37:44" updateDate="2018-10-16T15:04:55" nodeName="Workplace as a service" urlName="workplace-as-a-service" path="-1,1063,1075,1082" isDoc="" nodeType="1080" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1079" nodeTypeAlias="service" isPublished="true">
        <pageContent><![CDATA[<p>Ett enkelt koncept! Vi levererar en hel arbetsplats som tjänst till en fast månadskostnad. Den stora fördelen med arbetsplats som tjänst är att dina medarbetare får valfriheten att välja modell och märke. Ni kan känna er trygga med att datorerna är uppdaterade och uppgraderade med rätt inställningar och programvaror. Som kund hos oss har du också tillgång till support som kan hjälpa dig med eventuella IT-problem som dyker upp.</p>]]></pageContent>
        <pageTitle><![CDATA[Arbetsplats som tjänst]]></pageTitle>
      </service>
      <service id="1083" key="cd2217c9-e046-427f-925c-21bd3b11bf25" parentID="1075" level="3" creatorID="0" sortOrder="2" createDate="2018-10-16T13:38:45" updateDate="2018-10-16T15:04:56" nodeName="Server as service" urlName="server-as-service" path="-1,1063,1075,1083" isDoc="" nodeType="1080" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1079" nodeTypeAlias="service" isPublished="true">
        <pageContent><![CDATA[<p>Vill du slippa tänka på backup, uppdateringar, investering och drift av en egen server? Hos oss har du möjlighet att hyra en plats i vårt datacenter. När du hyr in dig på en server hos oss så tar vi ansvaret och du får tillgång till din server vart du än befinner dig.</p>]]></pageContent>
        <pageTitle><![CDATA[Server som tjänst, hyr en plats i vår serverhall!]]></pageTitle>
      </service>
    </services>
    <contact id="1077" key="e7ae884d-6a44-4c18-b8a1-f2ab44fa3fe4" parentID="1063" level="2" creatorID="0" sortOrder="2" createDate="2018-10-16T13:17:46" updateDate="2018-10-16T14:18:05" nodeName="Contact" urlName="contact" path="-1,1063,1077" isDoc="" nodeType="1073" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1072" nodeTypeAlias="contact" isPublished="true">
      <pageContent><![CDATA[<p>Kontakta oss!</p>]]></pageContent>
      <pageTitle><![CDATA[Kontakt]]></pageTitle>
    </contact>
    <aboutUs id="1088" key="6f1ea2c6-1179-4611-8c32-205a640da4a4" parentID="1063" level="2" creatorID="0" sortOrder="3" createDate="2018-10-16T14:14:17" updateDate="2018-10-16T14:19:04" nodeName="About us" urlName="about-us" path="-1,1063,1088" isDoc="" nodeType="1087" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1086" nodeTypeAlias="aboutUs" isPublished="true">
      <pageContent><![CDATA[<p>Här är vi</p>]]></pageContent>
      <pageTitle><![CDATA[Om oss]]></pageTitle>
    </aboutUs>
  </index>
  <index id="1068" key="fdb66e61-14db-49bd-910b-6b334a070817" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-10-16T11:07:53" updateDate="2018-10-16T11:27:37" nodeName="en" urlName="en" path="-1,1068" isDoc="" nodeType="1061" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1060" nodeTypeAlias="index" isPublished="true">
    <pageContent><![CDATA[<p>It's my side, yay!</p>]]></pageContent>
    <pageTitle><![CDATA[Generic IT Company title]]></pageTitle>
    <heroText><![CDATA[herotext on startside]]></heroText>
    <aboutUs id="1089" key="a1e20c76-d72d-4767-8ba1-2bf1a1df3273" parentID="1068" level="2" creatorID="0" sortOrder="0" createDate="2018-10-16T14:20:46" updateDate="2018-10-16T14:20:46" nodeName="About us" urlName="about-us" path="-1,1068,1089" isDoc="" nodeType="1087" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1086" nodeTypeAlias="aboutUs" isPublished="true">
      <pageContent><![CDATA[<p>Here's some worthless info about us shits</p>]]></pageContent>
      <pageTitle><![CDATA[About us]]></pageTitle>
    </aboutUs>
    <contact id="1090" key="44ee0c04-7148-4498-9e37-96028c3b51a7" parentID="1068" level="2" creatorID="0" sortOrder="1" createDate="2018-10-16T14:23:35" updateDate="2018-10-16T14:25:09" nodeName="Contact" urlName="contact" path="-1,1068,1090" isDoc="" nodeType="1073" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1072" nodeTypeAlias="contact" isPublished="true">
      <pageContent><![CDATA[<p>Contact us hehe</p>]]></pageContent>
      <pageTitle><![CDATA[Contact]]></pageTitle>
    </contact>
  </index>
</root>