<!DOCTYPE root[<!ELEMENT index ANY>
<!ATTLIST index id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT services ANY>
<!ATTLIST services id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT service ANY>
<!ATTLIST service id ID #REQUIRED>
<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT blogPost ANY>
<!ATTLIST blogPost id ID #REQUIRED>
]>
<root id="-1">
  <index id="1063" key="745f3c88-15a6-4f35-8d9d-58e172a929fa" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-10-16T09:02:37" updateDate="2018-10-23T11:18:48" nodeName="SV" urlName="sv" path="-1,1063" isDoc="" nodeType="1061" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1060" nodeTypeAlias="index" isPublished="true">
    <pageContent><![CDATA[<p>Varför är detta tomt?</p>]]></pageContent>
    <pageTitle><![CDATA[Generiskt IT Företag]]></pageTitle>
    <heroText><![CDATA[Generiskt IT Företag AB]]></heroText>
    <pageServices><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Systemutveckling",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>Är du eller ditt företag i behov av ett ny app, systemintegration eller webbsida? Vi utvecklar nya lösningar åt er från grunden</p>\n<p><a data-udi=\"umb://document/866ea6f80e0b47e1874c952176e50f52\" href=\"/{localLink:umb://document/866ea6f80e0b47e1874c952176e50f52}\" title=\"Systemdeveloping\">Klicka här för mer info!</a></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "Arbetsplats som tjänst",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>Växer ditt företag men vill inte lägga ut pengar på extra inventarier? Med denna tjänst skapar vi arbetsplatser åt dina anställda!</p>\n<p><a data-udi=\"umb://document/09e5c7392b6847c4a09ce1595886e9c4\" href=\"/{localLink:umb://document/09e5c7392b6847c4a09ce1595886e9c4}\" title=\"Workplace as a service\">Klicka här för mer info!</a></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "Server som tjänst",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>Har ni en egen server med data på företaget men vill slippa ha ansvaret och utrustningen? Hyr en server hos oss och vi tar hand om allt rund om!</p>\n<p><a data-udi=\"umb://document/cd2217c9e046427f925c21bd3b11bf25\" href=\"/{localLink:umb://document/cd2217c9e046427f925c21bd3b11bf25}\" title=\"Server as service\">Klicka här för mer info!</a></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "593d67d6-fb8c-a433-ae63-9a20e5ef6fe7"
        }
      ]
    }
  ]
}]]></pageServices>
    <aboutUs id="1088" key="6f1ea2c6-1179-4611-8c32-205a640da4a4" parentID="1063" level="2" creatorID="0" sortOrder="0" createDate="2018-10-16T14:14:17" updateDate="2018-10-23T11:11:46" nodeName="About us" urlName="about-us" path="-1,1063,1088" isDoc="" nodeType="1087" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1086" nodeTypeAlias="aboutUs" isPublished="true">
      <pageContent><![CDATA[<p>På det generiska it-företaget arbetar vi med systemutveckling, arbetsplats som tjänst och server som tjänst. Vi gör allt för våra kunder eftersom vi älskar dem mer än vad vi älskar mat och sömn. Vi finnas alltid tillgängliga, alla medarbetare har alltid ringsignalen på högsta volym, även under möten. De två stjärnorna i vårt företag är Sven Lübbe och Ida Nilsson, de är två superunderbara individer som bara sprider glädje omkring sig. Med dem vill du alltid parkoda!</p>]]></pageContent>
      <pageTitle><![CDATA[Om oss]]></pageTitle>
      <pagePicture><![CDATA[umb://media/1a8f04c147114172bc459f20c147e1c7]]></pagePicture>
    </aboutUs>
    <contact id="1077" key="e7ae884d-6a44-4c18-b8a1-f2ab44fa3fe4" parentID="1063" level="2" creatorID="0" sortOrder="1" createDate="2018-10-16T13:17:46" updateDate="2018-10-23T11:11:46" nodeName="Contact" urlName="contact" path="-1,1063,1077" isDoc="" nodeType="1073" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1072" nodeTypeAlias="contact" isPublished="true">
      <pageContent><![CDATA[<pre class="tw-data-text tw-ta tw-text-small" style="text-align: left; height: 216px;" data-placeholder="Översättning" data-fulltext=""><span>Kontakta oss!

E-mail: generiskitforetag@generisk.se

Telefon: 013-95 45 25

Address: Teknikringen 7

216 98 Linköping</span></pre>]]></pageContent>
      <pageTitle><![CDATA[Kontakt]]></pageTitle>
      <map><![CDATA[{
  "zoom": 17,
  "position": {
    "id": "WGS84",
    "datum": "58.393714,15.560889"
  }
}]]></map>
    </contact>
    <services id="1075" key="e2a62134-6960-4320-a38d-2d57853624cd" parentID="1063" level="2" creatorID="0" sortOrder="2" createDate="2018-10-16T13:15:31" updateDate="2018-10-23T11:11:46" nodeName="Services" urlName="services" path="-1,1063,1075" isDoc="" nodeType="1071" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1070" nodeTypeAlias="services" isPublished="true">
      <pageContent><![CDATA[<p>Vi har tre olika tjänster</p>]]></pageContent>
      <pageTitle><![CDATA[Tjänster]]></pageTitle>
      <service id="1081" key="866ea6f8-0e0b-47e1-874c-952176e50f52" parentID="1075" level="3" creatorID="0" sortOrder="0" createDate="2018-10-16T13:35:07" updateDate="2018-10-23T11:11:46" nodeName="Systemdeveloping" urlName="systemdeveloping" path="-1,1063,1075,1081" isDoc="" nodeType="1080" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1079" nodeTypeAlias="service" isPublished="true">
        <pageContent><![CDATA[<p>Smarta IT-lösningar förenklar processer och flöden, vilket i sin tur skapar effektivitet och lönsamhet.</p>
<p>Tillsammans med er skapar vi en skräddarsydd kundlösning som integrerar era system för att få fram relevant information som underlättar beslutsfattande.</p>
<p>På så sätt minimeras tidsödande processer och ni får ett snabbt och smidigt informationsflöde.</p>]]></pageContent>
        <pageTitle><![CDATA[Systemutveckling]]></pageTitle>
        <pagePicture><![CDATA[umb://media/afb90f5a428a49198b361596a7cb5cf9]]></pagePicture>
        <pageDescription><![CDATA[Behöver du en app eller annan sorts skräddarsydd lösning?]]></pageDescription>
      </service>
      <service id="1082" key="09e5c739-2b68-47c4-a09c-e1595886e9c4" parentID="1075" level="3" creatorID="0" sortOrder="1" createDate="2018-10-16T13:37:44" updateDate="2018-10-23T11:11:47" nodeName="Workplace as a service" urlName="workplace-as-a-service" path="-1,1063,1075,1082" isDoc="" nodeType="1080" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1079" nodeTypeAlias="service" isPublished="true">
        <pageContent><![CDATA[<p>Ett enkelt koncept! Vi levererar en hel arbetsplats som tjänst till en fast månadskostnad. Den stora fördelen med arbetsplats som tjänst är att dina medarbetare får valfriheten att välja modell och märke. Ni kan känna er trygga med att datorerna är uppdaterade och uppgraderade med rätt inställningar och programvaror. Som kund hos oss har du också tillgång till support som kan hjälpa dig med eventuella IT-problem som dyker upp.</p>]]></pageContent>
        <pageTitle><![CDATA[Arbetsplats som tjänst]]></pageTitle>
        <pagePicture><![CDATA[umb://media/271b39e064b44d3eb768714db265e4c7]]></pagePicture>
        <pageDescription><![CDATA[Behöver du en färdig arbetsplats inrättat med datorer och annan utrustning?]]></pageDescription>
      </service>
      <service id="1083" key="cd2217c9-e046-427f-925c-21bd3b11bf25" parentID="1075" level="3" creatorID="0" sortOrder="2" createDate="2018-10-16T13:38:45" updateDate="2018-10-23T11:11:47" nodeName="Server as service" urlName="server-as-service" path="-1,1063,1075,1083" isDoc="" nodeType="1080" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1079" nodeTypeAlias="service" isPublished="true">
        <pageContent><![CDATA[<p>Vill du slippa tänka på backup, uppdateringar, investering och drift av en egen server? Hos oss har du möjlighet att hyra en plats, och server, i vårt datacenter. När du hyr in dig på en server hos oss så tar vi ansvaret och du får tillgång till din server vart du än befinner dig.</p>]]></pageContent>
        <pageTitle><![CDATA[Server som tjänst]]></pageTitle>
        <pagePicture><![CDATA[umb://media/569b8f431b0245b8b65d10b90f6a8f3f]]></pagePicture>
        <pageDescription><![CDATA[Vill du slippa behöva bry dig om backups, serverplacering m.m? Det här är rätt lösning för dig!]]></pageDescription>
      </service>
    </services>
    <blog id="1111" key="d7638150-6d5b-4521-94e1-a7011795c83b" parentID="1063" level="2" creatorID="0" sortOrder="4" createDate="2018-10-23T11:05:49" updateDate="2018-10-23T11:25:20" nodeName="Blog" urlName="blog" path="-1,1063,1111" isDoc="" nodeType="1107" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1109" nodeTypeAlias="blog" isPublished="true">
      <pageContent><![CDATA[<p>Här är våra blogginlägg, LÄS DEM! : )</p>]]></pageContent>
      <pageTitle><![CDATA[Blogg]]></pageTitle>
      <blogPost id="1112" key="939ba126-0d1a-4bd8-a6f7-39d836725779" parentID="1111" level="3" creatorID="0" sortOrder="0" createDate="2018-10-23T11:08:29" updateDate="2018-10-23T11:25:34" nodeName="Vår första grymma blogginlägg" urlName="vaar-foersta-grymma-blogginlaegg" path="-1,1063,1111,1112" isDoc="" nodeType="1108" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1110" nodeTypeAlias="blogPost" isPublished="true">
        <pageContent><![CDATA[<p>Tja tja bloggen!</p>
<p> </p>
<p>Idag sitter vi här på Creactive och dricker kartong-choklad och julmust!</p>
<p>Vi är tvungna att skapa en blogg för att bli godkända : )</p>
<p>Så det är vad vi gör nu, vi vill ju ha redig svensk text som vi kan översätta till engelska.</p>
<p> </p>
<p>Sven kom försent idag för han är en latmask. Han gillar att komma försent, det är det bästa han vet. Att ligga i sängen och dra sig och tänka på alla andra som pinat upp sig i tid.</p>]]></pageContent>
        <pageTitle><![CDATA[Vår första grymma blogginlägg]]></pageTitle>
        <pageDescription><![CDATA[LÄS DETTA NU!]]></pageDescription>
        <pagePicture><![CDATA[umb://media/1a8f04c147114172bc459f20c147e1c7]]></pagePicture>
      </blogPost>
      <blogPost id="1113" key="66f45dba-40a3-40fd-9016-b885f6b2ae65" parentID="1111" level="3" creatorID="0" sortOrder="1" createDate="2018-10-23T11:09:57" updateDate="2018-10-23T11:25:48" nodeName="Vårt andra fantastiska blogginlägg" urlName="vaart-andra-fantastiska-blogginlaegg" path="-1,1063,1111,1113" isDoc="" nodeType="1108" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1110" nodeTypeAlias="blogPost" isPublished="true">
        <pageContent><![CDATA[<p>Sista föreläsningsdagen, bara en kurs kvar innan ex-jobbet och LIA. Då jävla ska vi köra på!</p>]]></pageContent>
        <pageTitle><![CDATA[Vårt andra fantastiska blogginlägg]]></pageTitle>
        <pageDescription><![CDATA[LÄS DETTA MED DU!]]></pageDescription>
        <pagePicture><![CDATA[umb://media/afb90f5a428a49198b361596a7cb5cf9]]></pagePicture>
      </blogPost>
      <blogPost id="1114" key="0f32768a-bb1d-4bc5-8443-6b3a48e10efc" parentID="1111" level="3" creatorID="0" sortOrder="2" createDate="2018-10-23T11:27:45" updateDate="2018-10-23T11:27:45" nodeName="Blogginlägg nummer nope" urlName="blogginlaegg-nummer-nope" path="-1,1063,1111,1114" isDoc="" nodeType="1108" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1110" nodeTypeAlias="blogPost" isPublished="true">
        <pageContent><![CDATA[<p>NOPE!<br /><br />Sett mig på bilden? Super sexy  va?</p>]]></pageContent>
        <pageTitle><![CDATA[Blogginlägg nummer nope]]></pageTitle>
        <pageDescription><![CDATA[Läs detta nu, SLAV]]></pageDescription>
        <pagePicture><![CDATA[umb://media/569b8f431b0245b8b65d10b90f6a8f3f]]></pagePicture>
      </blogPost>
    </blog>
  </index>
  <index id="1068" key="fdb66e61-14db-49bd-910b-6b334a070817" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-10-16T11:07:53" updateDate="2018-10-19T13:04:31" nodeName="EN" urlName="en" path="-1,1068" isDoc="" nodeType="1061" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1060" nodeTypeAlias="index" isPublished="true">
    <pageContent><![CDATA[<p>We are a company founded by two students, offering various IT solutions for all companies, small and large. Our expertise comes from our own projects, studies and practitioners and is enough to compete with our rivals.</p>]]></pageContent>
    <pageTitle><![CDATA[Generic IT Company title]]></pageTitle>
    <heroText><![CDATA[Generiskt IT Företag AB]]></heroText>
    <pageServices><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Systemdeveloping",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p><span>Are you or your company in need of a new app, system integration or web page? We develop new solutions for you from scratch<br /><br /><a data-udi=\"umb://document/36f917a136be4533825c6dfa3dfcf7ec\" href=\"/{localLink:umb://document/36f917a136be4533825c6dfa3dfcf7ec}\" title=\"Systemdeveloping\">Click here for more information!</a></span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                },
                {
                  "value": "Workplace as a service",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p><span>Growing your business but do not want to spend money on extra inventory? With this service we create workplaces for your employees!<br /><br /><a data-udi=\"umb://document/26eee7e235984942abbdb5f1a4d277ef\" href=\"/{localLink:umb://document/26eee7e235984942abbdb5f1a4d277ef}\" title=\"Workplace as a service\">Click here for more information!</a></span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "Server as a service",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p><span>Do you have your own server with data at the company but do not want to have responsibility and equipment? Hire a server with us and we take care of everything around! </span></p>\n<p><span><a data-udi=\"umb://document/47d8f89696d0457b8999cfc4e714dfe1\" href=\"/{localLink:umb://document/47d8f89696d0457b8999cfc4e714dfe1}\" title=\"Server as a service\">Click here for more information!</a></span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ],
              "hasActiveChild": true,
              "active": false,
              "dropNotAllowed": false,
              "dropOnEmpty": false
            }
          ],
          "hasConfig": false,
          "id": "0edadca0-c5a9-8341-0639-efafbfa590eb",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></pageServices>
    <aboutUs id="1089" key="a1e20c76-d72d-4767-8ba1-2bf1a1df3273" parentID="1068" level="2" creatorID="0" sortOrder="0" createDate="2018-10-16T14:20:46" updateDate="2018-10-19T12:36:15" nodeName="About us" urlName="about-us" path="-1,1068,1089" isDoc="" nodeType="1087" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1086" nodeTypeAlias="aboutUs" isPublished="true">
      <pageContent><![CDATA[<div class="oSioSc">
<div id="tw-target">
<div id="tw-target-text-container" class="gsrt tw-ta-container tw-nfl" style="text-align: left;">
<pre class="tw-data-text tw-ta tw-text-small" style="text-align: left; height: 336px;" data-placeholder="Översättning" data-fulltext=""><span>At the generic IT company, we work with system development, <br />workplace as a service and server as a service. We <br />do everything for our customers because we love them more <br />than we love food and sleep. We are always available, all <br />employees always have the ringtone at the highest volume, <br />even during meetings. The two stars in our company are <br />Sven Lübbe and Ida Nilsson, they are two super-wonderful <br />individuals who only spread joy around themselves. <br />With them you always want parkoda!<br /></span></pre>
</div>
</div>
</div>]]></pageContent>
      <pageTitle><![CDATA[About us]]></pageTitle>
      <pagePicture><![CDATA[umb://media/1a8f04c147114172bc459f20c147e1c7]]></pagePicture>
    </aboutUs>
    <contact id="1090" key="44ee0c04-7148-4498-9e37-96028c3b51a7" parentID="1068" level="2" creatorID="0" sortOrder="1" createDate="2018-10-16T14:23:35" updateDate="2018-10-23T10:11:45" nodeName="Contact" urlName="contact" path="-1,1068,1090" isDoc="" nodeType="1073" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1072" nodeTypeAlias="contact" isPublished="true">
      <pageContent><![CDATA[<p><span>Contact us! </span></p>
<p><span>E-mail: generiskitforetag@generisk.se </span></p>
<p><span>Phone: 013-95 45 25 </span></p>
<p><span>Address: </span><span>Teknikringen 7 </span></p>
<p><span>216 98 Linköping</span></p>]]></pageContent>
      <pageTitle><![CDATA[Contact]]></pageTitle>
      <map><![CDATA[{
  "zoom": 17,
  "position": {
    "id": "WGS84",
    "datum": "58.393894,15.56106"
  }
}]]></map>
    </contact>
    <services id="1098" key="384159fa-4c5f-49b5-81fa-63fdd35b8232" parentID="1068" level="2" creatorID="0" sortOrder="2" createDate="2018-10-19T12:20:06" updateDate="2018-10-19T12:21:10" nodeName="Services" urlName="services" path="-1,1068,1098" isDoc="" nodeType="1071" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1070" nodeTypeAlias="services" isPublished="true">
      <pageContent><![CDATA[<p>We have three different services.</p>]]></pageContent>
      <pageTitle><![CDATA[Services]]></pageTitle>
      <service id="1099" key="36f917a1-36be-4533-825c-6dfa3dfcf7ec" parentID="1098" level="3" creatorID="0" sortOrder="0" createDate="2018-10-19T12:20:06" updateDate="2018-10-19T12:22:18" nodeName="Systemdeveloping" urlName="systemdeveloping" path="-1,1068,1098,1099" isDoc="" nodeType="1080" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1079" nodeTypeAlias="service" isPublished="true">
        <pageContent><![CDATA[<p>Smart IT solutions simplify processes and flows, which in turn creates efficiency and profitability.</p>
<p>Together with you, we create a tailor-made customer solution that integrates your systems to provide relevant information that facilitates decision making.</p>
<p>This minimizes time-consuming processes and gives you a fast and easy flow of information.</p>]]></pageContent>
        <pageTitle><![CDATA[Systemdeveloping]]></pageTitle>
        <pagePicture><![CDATA[umb://media/afb90f5a428a49198b361596a7cb5cf9]]></pagePicture>
        <pageDescription><![CDATA[Do you need an app or other kind of customized solution?]]></pageDescription>
      </service>
      <service id="1100" key="26eee7e2-3598-4942-abbd-b5f1a4d277ef" parentID="1098" level="3" creatorID="0" sortOrder="1" createDate="2018-10-19T12:20:06" updateDate="2018-10-19T12:23:16" nodeName="Workplace as a service" urlName="workplace-as-a-service" path="-1,1068,1098,1100" isDoc="" nodeType="1080" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1079" nodeTypeAlias="service" isPublished="true">
        <pageContent><![CDATA[<p>A simple concept! We deliver an entire workplace as a service at a fixed monthly fee. The great advantage of a workplace as a service is that your employees have the choice to choose the model and brand. You can feel confident that your computers are up to date and upgraded with the right settings and software. As a customer of ours, you also have access to support that can help you with any IT problems that may arise.</p>]]></pageContent>
        <pageTitle><![CDATA[Workplace as a service]]></pageTitle>
        <pagePicture><![CDATA[umb://media/271b39e064b44d3eb768714db265e4c7]]></pagePicture>
        <pageDescription><![CDATA[Do you need a complete workplace set up with computers and other equipment?]]></pageDescription>
      </service>
      <service id="1101" key="47d8f896-96d0-457b-8999-cfc4e714dfe1" parentID="1098" level="3" creatorID="0" sortOrder="2" createDate="2018-10-19T12:20:06" updateDate="2018-10-19T12:37:55" nodeName="Server as a service" urlName="server-as-a-service" path="-1,1068,1098,1101" isDoc="" nodeType="1080" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1079" nodeTypeAlias="service" isPublished="true">
        <pageContent><![CDATA[<div class="oSioSc">
<div id="tw-target">
<div id="tw-target-text-container" class="gsrt tw-ta-container tw-nfl">
<pre class="tw-data-text tw-ta tw-text-small" style="text-align: left; height: 216px;" data-placeholder="Översättning" data-fulltext=""><span>Do not you want to think about backup, updates, investment and running your own server? <br />With us, you have the opportunity to rent a place, and server, in our data center. <br />When you hire yourself on a server with us, we take responsibility and you will have <br />access to your server wherever you are.</span></pre>
</div>
</div>
</div>]]></pageContent>
        <pageTitle><![CDATA[Server as a service]]></pageTitle>
        <pagePicture><![CDATA[umb://media/569b8f431b0245b8b65d10b90f6a8f3f]]></pagePicture>
        <pageDescription><![CDATA[Do not you want to worry about backups, server location, etc.? This is the right solution for you!]]></pageDescription>
      </service>
    </services>
  </index>
</root>