<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT page ANY>
<!ATTLIST page id ID #REQUIRED>
<!ELEMENT index ANY>
<!ATTLIST index id ID #REQUIRED>
]>
<root id="-1">
  <index id="1063" key="745f3c88-15a6-4f35-8d9d-58e172a929fa" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-10-16T09:02:37" updateDate="2018-10-16T11:27:47" nodeName="sv" urlName="sv" path="-1,1063" isDoc="" nodeType="1061" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1060" nodeTypeAlias="index" isPublished="true">
    <pageContent><![CDATA[<p>Detta är min sida, yay!</p>]]></pageContent>
    <pageTitle><![CDATA[Generiskt IT Företag Page Title]]></pageTitle>
    <heroText><![CDATA[Hero texten på startsida]]></heroText>
    <page id="1067" key="c27cfd00-244d-4a0d-9b3f-5fff2aee4984" parentID="1063" level="2" creatorID="0" sortOrder="0" createDate="2018-10-16T10:17:22" updateDate="2018-10-16T11:37:02" nodeName="Om oss" urlName="om-oss" path="-1,1063,1067" isDoc="" nodeType="1066" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1065" nodeTypeAlias="page" isPublished="false">
      <pageContent><![CDATA[<p>Detta är lite info om oss som ingen vill läsa</p>]]></pageContent>
      <pageTitle><![CDATA[Om oss]]></pageTitle>
    </page>
  </index>
  <index id="1068" key="fdb66e61-14db-49bd-910b-6b334a070817" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-10-16T11:07:53" updateDate="2018-10-16T11:27:37" nodeName="en" urlName="en" path="-1,1068" isDoc="" nodeType="1061" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1060" nodeTypeAlias="index" isPublished="true">
    <pageContent><![CDATA[<p>It's my side, yay!</p>]]></pageContent>
    <pageTitle><![CDATA[Generic IT Company title]]></pageTitle>
    <heroText><![CDATA[herotext on startside]]></heroText>
    <page id="1069" key="6a03d5a3-5c32-4501-a451-7d8ab57077ed" parentID="1068" level="2" creatorID="0" sortOrder="0" createDate="2018-10-16T11:07:53" updateDate="2018-10-16T11:19:33" nodeName="About" urlName="about" path="-1,1068,1069" isDoc="" nodeType="1066" creatorName="Sven Lubbe" writerName="Sven Lubbe" writerID="0" template="1065" nodeTypeAlias="page" isPublished="true">
      <pageContent><![CDATA[<p>English content about us!</p>]]></pageContent>
      <pageTitle><![CDATA[About]]></pageTitle>
    </page>
  </index>
</root>